#joinArea {
  padding-top: 206px;
  margin-left: 46px;
}
#joinWrapper {
  background-color: #aad6a0;
  width: 299px;
  height: 286px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
#join {
  color: #4c7343;
  font-weight: 900;
  font-size: 24px;
  padding-top: 25px;
  margin-bottom: 15px;
}
#ID {
  float: left;
  width: 43px;
  height: 20px;
  color: #4c7343;
  font-size: 20px;
  font-weight: 500;
}
#ID + input {
  width: 231px;
  height: 31px;
  border-radius: 5px;
  border: none;
  background: #fff;
  margin-bottom: 25px;
}
#PW {
  float: left;
  width: 43px;
  height: 20px;
  color: #4c7343;
  font-size: 20px;
  font-weight: 500;
}
#PW + input {
  width: 231px;
  height: 31px;
  border-radius: 5px;
  border: none;
  background: #fff;
  margin-bottom: 25px;
}
input:last-child {
  width: 93px;
  height: 59px;
  border-radius: 5px;
  background: #4c7343;
  font-size: 15px;
  margin: 0 auto;
  border: none;
}
